/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    padding-bottom: 24px;
    padding-top: 24px;
}

#col1 {
	margin-bottom:50px;
}

#col2 {
	margin-bottom:20px;
}

footer {
	clear:both;
}

.thumbnail {
	min-height: 400px;
}

.caption {
	min-height: 215px;
}

h2 {
	font-size: 26px;
}

.fslightbox-nav {
    display: none;
}