/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    padding-bottom: 24px;
    padding-top: 24px;
}

#col1 {
	float:left;
	margin-right:50px;
	margin-bottom:100px;
}

#col2 {
	margin-bottom:20px;
}

footer {
	clear:both;
}

.thumbnail {
	min-height: 400px;
}

h2 {
	font-size: 28px;
}